{% if fieldset.0 %}
<h2>{{ fieldset.0 }}</h2>
{% endif %}
<fieldset class="module aligned{% for clsname in fieldset.2 %} {{ clsname }}{% endfor%}">
    {% for field in fieldset.1 %}
    <div class="form-row">
        <div>
            <label class="required">{{ field.0|capfirst }}:</label>
            <p class="controls">{{ field.1|default:"---" }}</p>
        </div>
    </div>
    {% endfor %}
</fieldset>
